@import "tailwindcss";

@theme {
  --color-umenobe-yellow:  #FFFF79;
  --color-umenobe-orange: #FCC511;
  --color-umenobe-light-orange: #FCCD40;
  --color-umenobe-gray: #939393;
  --color-umenobe-dark-blue: #1574A2;
}

.font-dela-one {
  font-family: var(--font-dela-one), sans-serif;
}

.font-zenkaku {
  font-family: var(--font-zenkaku), sans-serif;
}

.title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #939393;
}